.imageContainer {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
    border-radius: 5px;
}

.imageContainer:hover .image {
    cursor: pointer;
    transform: scale(1.02);
    /* opacity: 1.04; */
}

.image {
    border-radius: 10px;
    object-fit: contain;
    width: 100%;
    width: 50rem;
    height: 40rem;
    max-width: 80%;
    min-height: 150px;
    transition: transform 0.5s ease;
}