.img-hover-zoom {
    /* only for next Img */
    min-height: 200px;
    position: relative;
    /* only for next Img */
    overflow: hidden;
}


/* .img-hover-zoom:hover .post-detail-image {
    transform: scale(1.2);
} */

.img-hover-zoom:hover img {
    cursor: pointer;
    transform: scale(1.02);
    /* opacity: 1.04; */
}

.post-detail-image {
    object-fit: contain;
    width: 100%;
    /* max-width: 80%; */
    min-height: 150px;
    transition: transform 0.5s ease;
}