.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom:hover .post-detail-image {
    transform: scale(1.2);
}

.post-detail-image {
    /* object-fit: cover; */
    object-fit: contain;
    width: 100%;
    /* max-width: 80%; */
    min-height: 150px;
    transition: transform 0.5s ease;
}