.card {
    cursor: pointer;
    max-width: 20rem;
}

.card:hover .cardImage {
    filter: opacity(0.9);
}

.cardImageContainer {
    position: relative;
    height: 10rem;
    width: 100%;
    border-radius: 1rem;
}

.cardImage {
    object-fit: cover;
    border-radius: 5px;
    width: 850px;
    height: 567px;
    overflow: visible;
    transition: all 0.5s ease;
}