.hero-container {
    color: #fff;
    height: 100vh;
    min-height: 100vh;
    /* border-radius: 10px; */
    /* background: "#fff"; */
    background: #6bb0b2 url("/assets/Picture Background.jpg") no-repeat fixed center;
    background-blend-mode: multiply;
    /* background: url("/assets/Picture Background.jpg");
    background-repeat: no-repeat;
    background-origin: content-box; */
}