h1.post-title {
    color: var(--indigo-500);
    /* font-family: "Oswald"; */
}

.separator {
    width: 25%;
    height: 2px;
    /* background-color: var(--teal-300); */
    background-color: var(--indigo-500);
}

.refresh {
    padding: 10px;
    /* position: absolute; */
    /* background: rgba(0, 0, 0, 0.4); */
    /* background: rgba(0, 0, 0, 0.4); */
    border: solid var(--indigo-500) 1px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* top: 10px;
    right: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}