html,
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f0f0f0;
    color: #63666f;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 2em;
    margin: 0 0 10px 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* *** *** *** */

.container {
    min-width: 100vw;
    padding: 0 0.5rem;
}

.header {
    /* background-color: #fff; */
    padding: 0.5rem;
    /* border-bottom: 1px solid #e6e6e6; */
}

.header .link-linkedin svg {
    width: 16px;
    height: 16px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    height: auto;
    width: 100%;
}

.footer p {
    font-size: 0.7rem;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .link-linkedin svg {
    width: 16px;
    height: 16px;
}

@media screen and (min-width: 1200px) {
    .container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

.link-linkedin svg {
    fill: #63666f;
    transition: fill 0.2s ease-in-out;
}

.link-linkedin svg:hover {
    fill: #312f2f;
}


/* *** *** *** */

.p-dialog-header-icon:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem transparent;
}

.primary-color {
    /* color: var(--teal-400); */
    color: #26b59f;
}