html,
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* color: #63666f; */
    /* background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%); */
    /* background: #9599e2; */
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 2em;
}


/* .container {
    min-height: 100vh;
} */


/* @media screen and (min-width: 1200px) {
    .container {
        margin-left: 10rem;
        margin-right: 10rem;
    }
} */